@{
    Layout = null;
}
<div class="modal-header">
	<h5 class="modal-title" id="searchModalLabel">Search</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-controller="Account" asp-action="GetUserByUserName" method="get">
<div class="modal-body">
	<input type="text" class="form-control form-control-lg" placeholder="Search"/>

    @foreach (var user in ViewBag.AllUsers)
            {
            @if (ViewBag.CurrentUser.Id != user.Id)
                {
                    <div class="d-flex justify-content-between align-items-center border-top border-bottom p-1">
                        <p class="m-0">
                            @user.UserName
                        </p>
                        <div>
                            @Html.ActionLink(
                                "Block User",
                                "BlockUser",
                                "Account",
                                new {
                                    userId = @user.Id
                                },
                                new Dictionary<string, object>{
                                    {"class","btn btn-primary"}
                                }

                            )

                            @Html.ActionLink(
                                "Add Friend",
                                "AddFriend",
                                "Account",
                                new {
                                    userId = @user.Id
                                },
                                new Dictionary<string, object>{
                                    {"class","btn btn-primary"}
                                }

                            )
                        </div>
                    </div>
                }

            }
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	<button type="sumbit" class="btn btn-primary" style="float: right;">Search</button>
</div>
</form>